build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.user
*.user.*
CMakeLists.txt.user*
.cache/
compile_commands.json
.idea/
.vscode/
*.o
*.so
*.a
*.AppImage
obs_desk
